<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.ChequeDbObjectMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.ChequeDbObject">
    <id column="cheque_id" jdbcType="INTEGER" property="chequeId" />
    <result column="cheque_num" jdbcType="VARCHAR" property="chequeNum" />
    <result column="cheque_date" jdbcType="DATE" property="chequeDate" />
    <result column="cheque_amt" jdbcType="DECIMAL" property="chequeAmt" />
    <result column="debit_date" jdbcType="DATE" property="debitDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="bounce_cheque_ind" jdbcType="CHAR" property="bounceChequeInd" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="delete_ind" jdbcType="CHAR" property="deleteInd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cheque_id, cheque_num, cheque_date, cheque_amt, debit_date, remarks, bounce_cheque_ind, 
    version, created_by, created_on, updated_by, updated_on, delete_ind
  </sql>
  <select id="selectByExample" parameterType="com.JJ.model.ChequeDbObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cheque
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cheque
    where cheque_id = #{chequeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cheque
    where cheque_id = #{chequeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.JJ.model.ChequeDbObjectExample">
    delete from cheque
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.ChequeDbObject">
    <selectKey keyProperty="chequeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cheque (cheque_num, cheque_date, cheque_amt, 
      debit_date, remarks, bounce_cheque_ind, 
      version, created_by, created_on, 
      updated_by, updated_on, delete_ind
      )
    values (#{chequeNum,jdbcType=VARCHAR}, #{chequeDate,jdbcType=DATE}, #{chequeAmt,jdbcType=DECIMAL}, 
      #{debitDate,jdbcType=DATE}, #{remarks,jdbcType=VARCHAR}, #{bounceChequeInd,jdbcType=CHAR}, 
      #{version,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedOn,jdbcType=TIMESTAMP}, #{deleteInd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.ChequeDbObject">
    <selectKey keyProperty="chequeId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cheque
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="chequeNum != null">
        cheque_num,
      </if>
      <if test="chequeDate != null">
        cheque_date,
      </if>
      <if test="chequeAmt != null">
        cheque_amt,
      </if>
      <if test="debitDate != null">
        debit_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="bounceChequeInd != null">
        bounce_cheque_ind,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="deleteInd != null">
        delete_ind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="chequeNum != null">
        #{chequeNum,jdbcType=VARCHAR},
      </if>
      <if test="chequeDate != null">
        #{chequeDate,jdbcType=DATE},
      </if>
      <if test="chequeAmt != null">
        #{chequeAmt,jdbcType=DECIMAL},
      </if>
      <if test="debitDate != null">
        #{debitDate,jdbcType=DATE},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bounceChequeInd != null">
        #{bounceChequeInd,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        #{deleteInd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.ChequeDbObjectExample" resultType="java.lang.Integer">
    select count(*) from cheque
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cheque
    <set>
      <if test="record.chequeId != null">
        cheque_id = #{record.chequeId,jdbcType=INTEGER},
      </if>
      <if test="record.chequeNum != null">
        cheque_num = #{record.chequeNum,jdbcType=VARCHAR},
      </if>
      <if test="record.chequeDate != null">
        cheque_date = #{record.chequeDate,jdbcType=DATE},
      </if>
      <if test="record.chequeAmt != null">
        cheque_amt = #{record.chequeAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.debitDate != null">
        debit_date = #{record.debitDate,jdbcType=DATE},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.bounceChequeInd != null">
        bounce_cheque_ind = #{record.bounceChequeInd,jdbcType=CHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteInd != null">
        delete_ind = #{record.deleteInd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cheque
    set cheque_id = #{record.chequeId,jdbcType=INTEGER},
      cheque_num = #{record.chequeNum,jdbcType=VARCHAR},
      cheque_date = #{record.chequeDate,jdbcType=DATE},
      cheque_amt = #{record.chequeAmt,jdbcType=DECIMAL},
      debit_date = #{record.debitDate,jdbcType=DATE},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      bounce_cheque_ind = #{record.bounceChequeInd,jdbcType=CHAR},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.JJ.model.ChequeDbObject">
    update cheque
    <set>
      <if test="chequeNum != null">
        cheque_num = #{chequeNum,jdbcType=VARCHAR},
      </if>
      <if test="chequeDate != null">
        cheque_date = #{chequeDate,jdbcType=DATE},
      </if>
      <if test="chequeAmt != null">
        cheque_amt = #{chequeAmt,jdbcType=DECIMAL},
      </if>
      <if test="debitDate != null">
        debit_date = #{debitDate,jdbcType=DATE},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="bounceChequeInd != null">
        bounce_cheque_ind = #{bounceChequeInd,jdbcType=CHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        delete_ind = #{deleteInd,jdbcType=CHAR},
      </if>
    </set>
    where cheque_id = #{chequeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.JJ.model.ChequeDbObject">
    update cheque
    set cheque_num = #{chequeNum,jdbcType=VARCHAR},
      cheque_date = #{chequeDate,jdbcType=DATE},
      cheque_amt = #{chequeAmt,jdbcType=DECIMAL},
      debit_date = #{debitDate,jdbcType=DATE},
      remarks = #{remarks,jdbcType=VARCHAR},
      bounce_cheque_ind = #{bounceChequeInd,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR}
    where cheque_id = #{chequeId,jdbcType=INTEGER}
  </update>
</mapper>