<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.PermissionCustomDbObjectMapper">
	<resultMap id="rolesToPermissionResultMap" type="com.JJ.model.RolesToPermissionCustomDbObject">
    <id column="roleid" jdbcType="INTEGER" property="roleid" />
    <result column="rolename" jdbcType="VARCHAR" property="rolename" />
    <result column="permissionid" jdbcType="VARCHAR" property="permissionId" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
  </resultMap>
  <select id="getRolesToPermission" parameterType="String" resultMap="rolesToPermissionResultMap">  
	(select rolePermission.id as "roleId", rolePermission.name as "rolename", smptype.type_id as permissionid, smptype.permission_type as permission from (
	select r.role_id as id, r.name, smp.role_id, smp.submodule_id, smp.permission_type_id from jj.role r  
	left join jj.submodule_permission smp on r.role_id = smp.role_id  
	where smp.submodule_id = #{submoduleid} 
	and r.delete_ind = 'N' 
	and smp.delete_ind = 'N') as rolePermission
	left join jj.submodule_permission_type smptype on rolePermission.permission_type_id = smptype.type_id)
	UNION
	(SELECT r.role_id as "roleId", r.name as "rolename", null as permissionid, "none" as permission from jj.role r
	left join jj.submodule_permission smp on r.role_id = smp.role_id where r.role_id not in (
	select distinct(role_id) from jj.submodule_permission where submodule_id = #{submoduleid}))
	</select>
	
	<resultMap id="submodulePermissionResultMap" type="com.JJ.controller.common.vo.SubModulePermissionVO">
	    <id column="submoduleId" jdbcType="INTEGER" property="submoduleId" />
	    <id column="submodulename" jdbcType="VARCHAR" property="submodulename" />
	    <id column="permissionTypeId" jdbcType="VARCHAR" property="permissionTypeId" />
	    <id column="permissiontype" jdbcType="VARCHAR" property="permissiontype" />
	</resultMap>
	<select id="getSubmodulePermissionByRoleIdList" parameterType="map" resultMap="submodulePermissionResultMap">  
	SELECT distinct(a.submodule_id) as "submoduleId", b.name as "submodulename", a.permission_type_id as "permissionTypeId", c.permission_type as "permissiontype"
	FROM jj.submodule_permission a left join submodule b on a.submodule_id = b.submodule_id 
	left join submodule_permission_type c on a.permission_type_id = c.type_id 
	where 
	<if test="list != null and list.size() > 0"> 
		a.role_id in 
		 <foreach item="item" index="index" collection="list"
	             open="(" separator="," close=")">
	        #{item}
	    </foreach> and 
    </if>
    a.delete_ind = 'N'
	</select>
</mapper>