<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.PromotionDbObjectMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.PromotionDbObject">
    <id column="promotion_id" jdbcType="INTEGER" property="promotionId" />
    <result column="promotion_name" jdbcType="VARCHAR" property="promotionName" />
    <result column="promotion_start_date" jdbcType="TIMESTAMP" property="promotionStartDate" />
    <result column="promotion_end_date" jdbcType="TIMESTAMP" property="promotionEndDate" />
    <result column="is_active" jdbcType="CHAR" property="isActive" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="delete_ind" jdbcType="CHAR" property="deleteInd" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.JJ.model.PromotionDbObject">
    <result column="promotion_message" jdbcType="LONGVARCHAR" property="promotionMessage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    promotion_id, promotion_name, promotion_start_date, promotion_end_date, is_active, 
    version, created_by, created_on, updated_by, updated_on, delete_ind
  </sql>
  <sql id="Blob_Column_List">
    promotion_message
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.JJ.model.PromotionDbObjectExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.JJ.model.PromotionDbObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from promotion
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from promotion
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.JJ.model.PromotionDbObjectExample">
    delete from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.PromotionDbObject">
    <selectKey keyProperty="promotionId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into promotion (promotion_name, promotion_start_date, 
      promotion_end_date, is_active, version, 
      created_by, created_on, updated_by, 
      updated_on, delete_ind, promotion_message
      )
    values (#{promotionName,jdbcType=VARCHAR}, #{promotionStartDate,jdbcType=TIMESTAMP}, 
      #{promotionEndDate,jdbcType=TIMESTAMP}, #{isActive,jdbcType=CHAR}, #{version,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedOn,jdbcType=TIMESTAMP}, #{deleteInd,jdbcType=CHAR}, #{promotionMessage,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.PromotionDbObject">
    <selectKey keyProperty="promotionId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into promotion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promotionName != null">
        promotion_name,
      </if>
      <if test="promotionStartDate != null">
        promotion_start_date,
      </if>
      <if test="promotionEndDate != null">
        promotion_end_date,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="deleteInd != null">
        delete_ind,
      </if>
      <if test="promotionMessage != null">
        promotion_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promotionName != null">
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionStartDate != null">
        #{promotionStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionEndDate != null">
        #{promotionEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=CHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        #{deleteInd,jdbcType=CHAR},
      </if>
      <if test="promotionMessage != null">
        #{promotionMessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.PromotionDbObjectExample" resultType="java.lang.Integer">
    select count(*) from promotion
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update promotion
    <set>
      <if test="record.promotionId != null">
        promotion_id = #{record.promotionId,jdbcType=INTEGER},
      </if>
      <if test="record.promotionName != null">
        promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionStartDate != null">
        promotion_start_date = #{record.promotionStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.promotionEndDate != null">
        promotion_end_date = #{record.promotionEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isActive != null">
        is_active = #{record.isActive,jdbcType=CHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteInd != null">
        delete_ind = #{record.deleteInd,jdbcType=CHAR},
      </if>
      <if test="record.promotionMessage != null">
        promotion_message = #{record.promotionMessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update promotion
    set promotion_id = #{record.promotionId,jdbcType=INTEGER},
      promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      promotion_start_date = #{record.promotionStartDate,jdbcType=TIMESTAMP},
      promotion_end_date = #{record.promotionEndDate,jdbcType=TIMESTAMP},
      is_active = #{record.isActive,jdbcType=CHAR},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR},
      promotion_message = #{record.promotionMessage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update promotion
    set promotion_id = #{record.promotionId,jdbcType=INTEGER},
      promotion_name = #{record.promotionName,jdbcType=VARCHAR},
      promotion_start_date = #{record.promotionStartDate,jdbcType=TIMESTAMP},
      promotion_end_date = #{record.promotionEndDate,jdbcType=TIMESTAMP},
      is_active = #{record.isActive,jdbcType=CHAR},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.JJ.model.PromotionDbObject">
    update promotion
    <set>
      <if test="promotionName != null">
        promotion_name = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionStartDate != null">
        promotion_start_date = #{promotionStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="promotionEndDate != null">
        promotion_end_date = #{promotionEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=CHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        delete_ind = #{deleteInd,jdbcType=CHAR},
      </if>
      <if test="promotionMessage != null">
        promotion_message = #{promotionMessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.JJ.model.PromotionDbObject">
    update promotion
    set promotion_name = #{promotionName,jdbcType=VARCHAR},
      promotion_start_date = #{promotionStartDate,jdbcType=TIMESTAMP},
      promotion_end_date = #{promotionEndDate,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR},
      promotion_message = #{promotionMessage,jdbcType=LONGVARCHAR}
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.JJ.model.PromotionDbObject">
    update promotion
    set promotion_name = #{promotionName,jdbcType=VARCHAR},
      promotion_start_date = #{promotionStartDate,jdbcType=TIMESTAMP},
      promotion_end_date = #{promotionEndDate,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR}
    where promotion_id = #{promotionId,jdbcType=INTEGER}
  </update>
</mapper>