<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.ViewItemCodeMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.ViewItemCode">
    <result column="productsuboptionRsId" jdbcType="INTEGER" property="productsuboptionrsid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="suboption1Name" jdbcType="VARCHAR" property="suboption1name" />
    <result column="subOption1Id" jdbcType="INTEGER" property="suboption1id" />
    <result column="suboption2Name" jdbcType="VARCHAR" property="suboption2name" />
    <result column="subOption2Id" jdbcType="INTEGER" property="suboption2id" />
    <result column="suboption3Name" jdbcType="VARCHAR" property="suboption3name" />
    <result column="subOption3Id" jdbcType="INTEGER" property="suboption3id" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    productsuboptionRsId, productId, productName, suboption1Name, subOption1Id, suboption2Name, 
    subOption2Id, suboption3Name, subOption3Id, item_code
  </sql>
  <select id="selectByExample" parameterType="com.JJ.model.ViewItemCodeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from view_item_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.JJ.model.ViewItemCodeExample">
    delete from view_item_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.ViewItemCode">
    insert into view_item_code (productsuboptionRsId, productId, 
      productName, suboption1Name, subOption1Id, 
      suboption2Name, subOption2Id, suboption3Name, 
      subOption3Id, item_code)
    values (#{productsuboptionrsid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, 
      #{productname,jdbcType=VARCHAR}, #{suboption1name,jdbcType=VARCHAR}, #{suboption1id,jdbcType=INTEGER}, 
      #{suboption2name,jdbcType=VARCHAR}, #{suboption2id,jdbcType=INTEGER}, #{suboption3name,jdbcType=VARCHAR}, 
      #{suboption3id,jdbcType=INTEGER}, #{itemCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.ViewItemCode">
    insert into view_item_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productsuboptionrsid != null">
        productsuboptionRsId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="suboption1name != null">
        suboption1Name,
      </if>
      <if test="suboption1id != null">
        subOption1Id,
      </if>
      <if test="suboption2name != null">
        suboption2Name,
      </if>
      <if test="suboption2id != null">
        subOption2Id,
      </if>
      <if test="suboption3name != null">
        suboption3Name,
      </if>
      <if test="suboption3id != null">
        subOption3Id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productsuboptionrsid != null">
        #{productsuboptionrsid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="suboption1name != null">
        #{suboption1name,jdbcType=VARCHAR},
      </if>
      <if test="suboption1id != null">
        #{suboption1id,jdbcType=INTEGER},
      </if>
      <if test="suboption2name != null">
        #{suboption2name,jdbcType=VARCHAR},
      </if>
      <if test="suboption2id != null">
        #{suboption2id,jdbcType=INTEGER},
      </if>
      <if test="suboption3name != null">
        #{suboption3name,jdbcType=VARCHAR},
      </if>
      <if test="suboption3id != null">
        #{suboption3id,jdbcType=INTEGER},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.ViewItemCodeExample" resultType="java.lang.Integer">
    select count(*) from view_item_code
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update view_item_code
    <set>
      <if test="record.productsuboptionrsid != null">
        productsuboptionRsId = #{record.productsuboptionrsid,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null">
        productId = #{record.productid,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null">
        productName = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.suboption1name != null">
        suboption1Name = #{record.suboption1name,jdbcType=VARCHAR},
      </if>
      <if test="record.suboption1id != null">
        subOption1Id = #{record.suboption1id,jdbcType=INTEGER},
      </if>
      <if test="record.suboption2name != null">
        suboption2Name = #{record.suboption2name,jdbcType=VARCHAR},
      </if>
      <if test="record.suboption2id != null">
        subOption2Id = #{record.suboption2id,jdbcType=INTEGER},
      </if>
      <if test="record.suboption3name != null">
        suboption3Name = #{record.suboption3name,jdbcType=VARCHAR},
      </if>
      <if test="record.suboption3id != null">
        subOption3Id = #{record.suboption3id,jdbcType=INTEGER},
      </if>
      <if test="record.itemCode != null">
        item_code = #{record.itemCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update view_item_code
    set productsuboptionRsId = #{record.productsuboptionrsid,jdbcType=INTEGER},
      productId = #{record.productid,jdbcType=INTEGER},
      productName = #{record.productname,jdbcType=VARCHAR},
      suboption1Name = #{record.suboption1name,jdbcType=VARCHAR},
      subOption1Id = #{record.suboption1id,jdbcType=INTEGER},
      suboption2Name = #{record.suboption2name,jdbcType=VARCHAR},
      subOption2Id = #{record.suboption2id,jdbcType=INTEGER},
      suboption3Name = #{record.suboption3name,jdbcType=VARCHAR},
      subOption3Id = #{record.suboption3id,jdbcType=INTEGER},
      item_code = #{record.itemCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>