<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.DiscountDbObjectMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.DiscountDbObject">
    <id column="discount_id" jdbcType="INTEGER" property="discountId" />
    <result column="promo_id" jdbcType="INTEGER" property="promoId" />
    <result column="discount_name" jdbcType="VARCHAR" property="discountName" />
    <result column="discount_type" jdbcType="VARCHAR" property="discountType" />
    <result column="discount_value" jdbcType="DECIMAL" property="discountValue" />
    <result column="apply_type" jdbcType="VARCHAR" property="applyType" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="delete_ind" jdbcType="CHAR" property="deleteInd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    discount_id, promo_id, discount_name, discount_type, discount_value, apply_type, 
    version, created_by, created_on, updated_by, updated_on, delete_ind
  </sql>
  <select id="selectByExample" parameterType="com.JJ.model.DiscountDbObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discount
    where discount_id = #{discountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from discount
    where discount_id = #{discountId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.JJ.model.DiscountDbObjectExample">
    delete from discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.DiscountDbObject">
    <selectKey keyProperty="discountId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discount (promo_id, discount_name, discount_type, 
      discount_value, apply_type, version, 
      created_by, created_on, updated_by, 
      updated_on, delete_ind)
    values (#{promoId,jdbcType=INTEGER}, #{discountName,jdbcType=VARCHAR}, #{discountType,jdbcType=VARCHAR}, 
      #{discountValue,jdbcType=DECIMAL}, #{applyType,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, 
      #{updatedOn,jdbcType=TIMESTAMP}, #{deleteInd,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.DiscountDbObject">
    <selectKey keyProperty="discountId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promoId != null">
        promo_id,
      </if>
      <if test="discountName != null">
        discount_name,
      </if>
      <if test="discountType != null">
        discount_type,
      </if>
      <if test="discountValue != null">
        discount_value,
      </if>
      <if test="applyType != null">
        apply_type,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="deleteInd != null">
        delete_ind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promoId != null">
        #{promoId,jdbcType=INTEGER},
      </if>
      <if test="discountName != null">
        #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null">
        #{discountType,jdbcType=VARCHAR},
      </if>
      <if test="discountValue != null">
        #{discountValue,jdbcType=DECIMAL},
      </if>
      <if test="applyType != null">
        #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        #{deleteInd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.DiscountDbObjectExample" resultType="java.lang.Integer">
    select count(*) from discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update discount
    <set>
      <if test="record.discountId != null">
        discount_id = #{record.discountId,jdbcType=INTEGER},
      </if>
      <if test="record.promoId != null">
        promo_id = #{record.promoId,jdbcType=INTEGER},
      </if>
      <if test="record.discountName != null">
        discount_name = #{record.discountName,jdbcType=VARCHAR},
      </if>
      <if test="record.discountType != null">
        discount_type = #{record.discountType,jdbcType=VARCHAR},
      </if>
      <if test="record.discountValue != null">
        discount_value = #{record.discountValue,jdbcType=DECIMAL},
      </if>
      <if test="record.applyType != null">
        apply_type = #{record.applyType,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteInd != null">
        delete_ind = #{record.deleteInd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update discount
    set discount_id = #{record.discountId,jdbcType=INTEGER},
      promo_id = #{record.promoId,jdbcType=INTEGER},
      discount_name = #{record.discountName,jdbcType=VARCHAR},
      discount_type = #{record.discountType,jdbcType=VARCHAR},
      discount_value = #{record.discountValue,jdbcType=DECIMAL},
      apply_type = #{record.applyType,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.JJ.model.DiscountDbObject">
    update discount
    <set>
      <if test="promoId != null">
        promo_id = #{promoId,jdbcType=INTEGER},
      </if>
      <if test="discountName != null">
        discount_name = #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="discountType != null">
        discount_type = #{discountType,jdbcType=VARCHAR},
      </if>
      <if test="discountValue != null">
        discount_value = #{discountValue,jdbcType=DECIMAL},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        delete_ind = #{deleteInd,jdbcType=CHAR},
      </if>
    </set>
    where discount_id = #{discountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.JJ.model.DiscountDbObject">
    update discount
    set promo_id = #{promoId,jdbcType=INTEGER},
      discount_name = #{discountName,jdbcType=VARCHAR},
      discount_type = #{discountType,jdbcType=VARCHAR},
      discount_value = #{discountValue,jdbcType=DECIMAL},
      apply_type = #{applyType,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR}
    where discount_id = #{discountId,jdbcType=INTEGER}
  </update>
</mapper>