<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.ProductSubOptionRsDbObjectMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.ProductSubOptionRsDbObject">
    <id column="product_suboption_rs_id" jdbcType="INTEGER" property="productSuboptionRsId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="suboption1_id" jdbcType="INTEGER" property="suboption1Id" />
    <result column="suboption2_id" jdbcType="INTEGER" property="suboption2Id" />
    <result column="suboption3_id" jdbcType="INTEGER" property="suboption3Id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="delete_ind" jdbcType="CHAR" property="deleteInd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    product_suboption_rs_id, product_id, suboption1_id, suboption2_id, suboption3_id, 
    version, created_by, created_on, updated_by, updated_on, delete_ind
  </sql>
  <select id="selectByExample" parameterType="com.JJ.model.ProductSubOptionRsDbObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_suboption_rs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_suboption_rs
    where product_suboption_rs_id = #{productSuboptionRsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_suboption_rs
    where product_suboption_rs_id = #{productSuboptionRsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.JJ.model.ProductSubOptionRsDbObjectExample">
    delete from product_suboption_rs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.ProductSubOptionRsDbObject">
    <selectKey keyProperty="productSuboptionRsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_suboption_rs (product_id, suboption1_id, suboption2_id, 
      suboption3_id, version, created_by, 
      created_on, updated_by, updated_on, 
      delete_ind)
    values (#{productId,jdbcType=INTEGER}, #{suboption1Id,jdbcType=INTEGER}, #{suboption2Id,jdbcType=INTEGER}, 
      #{suboption3Id,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdOn,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedOn,jdbcType=TIMESTAMP}, 
      #{deleteInd,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.ProductSubOptionRsDbObject">
    <selectKey keyProperty="productSuboptionRsId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_suboption_rs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="suboption1Id != null">
        suboption1_id,
      </if>
      <if test="suboption2Id != null">
        suboption2_id,
      </if>
      <if test="suboption3Id != null">
        suboption3_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="deleteInd != null">
        delete_ind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="suboption1Id != null">
        #{suboption1Id,jdbcType=INTEGER},
      </if>
      <if test="suboption2Id != null">
        #{suboption2Id,jdbcType=INTEGER},
      </if>
      <if test="suboption3Id != null">
        #{suboption3Id,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        #{deleteInd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.ProductSubOptionRsDbObjectExample" resultType="java.lang.Integer">
    select count(*) from product_suboption_rs
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_suboption_rs
    <set>
      <if test="record.productSuboptionRsId != null">
        product_suboption_rs_id = #{record.productSuboptionRsId,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=INTEGER},
      </if>
      <if test="record.suboption1Id != null">
        suboption1_id = #{record.suboption1Id,jdbcType=INTEGER},
      </if>
      <if test="record.suboption2Id != null">
        suboption2_id = #{record.suboption2Id,jdbcType=INTEGER},
      </if>
      <if test="record.suboption3Id != null">
        suboption3_id = #{record.suboption3Id,jdbcType=INTEGER},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteInd != null">
        delete_ind = #{record.deleteInd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_suboption_rs
    set product_suboption_rs_id = #{record.productSuboptionRsId,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=INTEGER},
      suboption1_id = #{record.suboption1Id,jdbcType=INTEGER},
      suboption2_id = #{record.suboption2Id,jdbcType=INTEGER},
      suboption3_id = #{record.suboption3Id,jdbcType=INTEGER},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.JJ.model.ProductSubOptionRsDbObject">
    update product_suboption_rs
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="suboption1Id != null">
        suboption1_id = #{suboption1Id,jdbcType=INTEGER},
      </if>
      <if test="suboption2Id != null">
        suboption2_id = #{suboption2Id,jdbcType=INTEGER},
      </if>
      <if test="suboption3Id != null">
        suboption3_id = #{suboption3Id,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        delete_ind = #{deleteInd,jdbcType=CHAR},
      </if>
    </set>
    where product_suboption_rs_id = #{productSuboptionRsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.JJ.model.ProductSubOptionRsDbObject">
    update product_suboption_rs
    set product_id = #{productId,jdbcType=INTEGER},
      suboption1_id = #{suboption1Id,jdbcType=INTEGER},
      suboption2_id = #{suboption2Id,jdbcType=INTEGER},
      suboption3_id = #{suboption3Id,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR}
    where product_suboption_rs_id = #{productSuboptionRsId,jdbcType=INTEGER}
  </update>
</mapper>