<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.JJ.dao.TransactionDetailDbObjectMapper">
  <resultMap id="BaseResultMap" type="com.JJ.model.TransactionDetailDbObject">
    <id column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="tpl_reference_id" jdbcType="VARCHAR" property="tplReferenceId" />
    <result column="gift_message" jdbcType="VARCHAR" property="giftMessage" />
    <result column="gift_receipt" jdbcType="VARCHAR" property="giftReceipt" />
    <result column="gift_wrap_name" jdbcType="VARCHAR" property="giftWrapName" />
    <result column="buyer_email_opt_in" jdbcType="VARCHAR" property="buyerEmailOptIn" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_on" jdbcType="TIMESTAMP" property="createdOn" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="TIMESTAMP" property="updatedOn" />
    <result column="delete_ind" jdbcType="CHAR" property="deleteInd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    transaction_id, tpl_reference_id, gift_message, gift_receipt, gift_wrap_name, buyer_email_opt_in, 
    version, created_by, created_on, updated_by, updated_on, delete_ind
  </sql>
  <select id="selectByExample" parameterType="com.JJ.model.TransactionDetailDbObjectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transaction_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transaction_detail
    where transaction_id = #{transactionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from transaction_detail
    where transaction_id = #{transactionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.JJ.model.TransactionDetailDbObjectExample">
    delete from transaction_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.JJ.model.TransactionDetailDbObject">
    insert into transaction_detail (transaction_id, tpl_reference_id, gift_message, 
      gift_receipt, gift_wrap_name, buyer_email_opt_in, 
      version, created_by, created_on, 
      updated_by, updated_on, delete_ind
      )
    values (#{transactionId,jdbcType=VARCHAR}, #{tplReferenceId,jdbcType=VARCHAR}, #{giftMessage,jdbcType=VARCHAR}, 
      #{giftReceipt,jdbcType=VARCHAR}, #{giftWrapName,jdbcType=VARCHAR}, #{buyerEmailOptIn,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createdOn,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=VARCHAR}, #{updatedOn,jdbcType=TIMESTAMP}, #{deleteInd,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.JJ.model.TransactionDetailDbObject">
    insert into transaction_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="tplReferenceId != null">
        tpl_reference_id,
      </if>
      <if test="giftMessage != null">
        gift_message,
      </if>
      <if test="giftReceipt != null">
        gift_receipt,
      </if>
      <if test="giftWrapName != null">
        gift_wrap_name,
      </if>
      <if test="buyerEmailOptIn != null">
        buyer_email_opt_in,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
      <if test="deleteInd != null">
        delete_ind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="tplReferenceId != null">
        #{tplReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="giftMessage != null">
        #{giftMessage,jdbcType=VARCHAR},
      </if>
      <if test="giftReceipt != null">
        #{giftReceipt,jdbcType=VARCHAR},
      </if>
      <if test="giftWrapName != null">
        #{giftWrapName,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmailOptIn != null">
        #{buyerEmailOptIn,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        #{deleteInd,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.JJ.model.TransactionDetailDbObjectExample" resultType="java.lang.Integer">
    select count(*) from transaction_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transaction_detail
    <set>
      <if test="record.transactionId != null">
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.tplReferenceId != null">
        tpl_reference_id = #{record.tplReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="record.giftMessage != null">
        gift_message = #{record.giftMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.giftReceipt != null">
        gift_receipt = #{record.giftReceipt,jdbcType=VARCHAR},
      </if>
      <if test="record.giftWrapName != null">
        gift_wrap_name = #{record.giftWrapName,jdbcType=VARCHAR},
      </if>
      <if test="record.buyerEmailOptIn != null">
        buyer_email_opt_in = #{record.buyerEmailOptIn,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null">
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdOn != null">
        created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedBy != null">
        updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedOn != null">
        updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteInd != null">
        delete_ind = #{record.deleteInd,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transaction_detail
    set transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      tpl_reference_id = #{record.tplReferenceId,jdbcType=VARCHAR},
      gift_message = #{record.giftMessage,jdbcType=VARCHAR},
      gift_receipt = #{record.giftReceipt,jdbcType=VARCHAR},
      gift_wrap_name = #{record.giftWrapName,jdbcType=VARCHAR},
      buyer_email_opt_in = #{record.buyerEmailOptIn,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_on = #{record.createdOn,jdbcType=TIMESTAMP},
      updated_by = #{record.updatedBy,jdbcType=VARCHAR},
      updated_on = #{record.updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{record.deleteInd,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.JJ.model.TransactionDetailDbObject">
    update transaction_detail
    <set>
      <if test="tplReferenceId != null">
        tpl_reference_id = #{tplReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="giftMessage != null">
        gift_message = #{giftMessage,jdbcType=VARCHAR},
      </if>
      <if test="giftReceipt != null">
        gift_receipt = #{giftReceipt,jdbcType=VARCHAR},
      </if>
      <if test="giftWrapName != null">
        gift_wrap_name = #{giftWrapName,jdbcType=VARCHAR},
      </if>
      <if test="buyerEmailOptIn != null">
        buyer_email_opt_in = #{buyerEmailOptIn,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteInd != null">
        delete_ind = #{deleteInd,jdbcType=CHAR},
      </if>
    </set>
    where transaction_id = #{transactionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.JJ.model.TransactionDetailDbObject">
    update transaction_detail
    set tpl_reference_id = #{tplReferenceId,jdbcType=VARCHAR},
      gift_message = #{giftMessage,jdbcType=VARCHAR},
      gift_receipt = #{giftReceipt,jdbcType=VARCHAR},
      gift_wrap_name = #{giftWrapName,jdbcType=VARCHAR},
      buyer_email_opt_in = #{buyerEmailOptIn,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_on = #{createdOn,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=VARCHAR},
      updated_on = #{updatedOn,jdbcType=TIMESTAMP},
      delete_ind = #{deleteInd,jdbcType=CHAR}
    where transaction_id = #{transactionId,jdbcType=VARCHAR}
  </update>
</mapper>